name: CI

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on: [pull_request, push]

jobs:
  linux:
    name: Test on Ubuntu (Elixir ${{ matrix.elixir_version }}, OTP ${{ matrix.otp_version }})
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        # Thoroughly check the most recent versions
        elixir_version: ['1.10.4', '1.11.4', '1.12.3', '1.13.4']
        otp_version: ['22.3', '23.3', '24.3']
        # Spot check older versions
        include:
          - elixir_version: '1.6.6'
            otp_version: '19.3'
          - elixir_version: '1.7.4'
            otp_version: '20.3'
          - elixir_version: '1.7.4'
            otp_version: '22.3'
          - elixir_version: '1.8.2'
            otp_version: '20.3'
          - elixir_version: '1.9.4'
            otp_version: '21.3'
          - elixir_version: '1.10.4'
            otp_version: '21.3'
          - elixir_version: '1.13.4'
            otp_version: '25.0'
        exclude:
          - elixir_version: '1.10.4'
            otp_version: '24.3'


    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir_version }}
          otp-version: ${{ matrix.otp_version }}
      - name: Restore deps and _build
        uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: erlef-${{ runner.os }}-mix-${{ matrix.elixir_version }}-${{ matrix.otp_version }}-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Restore plts
        uses: actions/cache@v2
        with:
          path: tools/plts
          key: ${{ runner.os }}-dialyzer-${{ matrix.elixir_version }}-${{ matrix.otp_version }}-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - run: mix deps.get
      - run: MIX_ENV=test mix compile --warnings-as-errors
      - run: mix credo
        # credo does not support elixir 1.6 any more
        if: ${{ !contains(matrix.elixir_version, '1.6') }}
      - name: Check if formatted
        if: contains(matrix.elixir_version, '1.13')
        run: mix format --check-formatted
      - name: Actual Tests
        run: MIX_ENV=test mix coveralls.github
        # Apparently the one with `!` can't go without the fancy expression syntax
        if: ${{ !contains(matrix.elixir_version, '1.13') }}
      - name: Actual Tests WITH warnings as errors
        run: MIX_ENV=test mix coveralls.github --warnings-as-errors
        if: contains(matrix.elixir_version, '1.13')
      - name: Dialyzer
        run: mix dialyzer --halt-exit-status
        # credo does not support elixir 1.6 any more and it's compiled here.. not sure why
        if: ${{ !contains(matrix.elixir_version, '1.6') }}
      - name: After script
        if: contains(matrix.elixir_version, '1.13')
        run: mix deps.get --only docs && MIX_ENV=docs mix inch.report

  macos:
    name: Test on MacOS
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Elixir
        run: brew install elixir
      - name: Restore deps and _build
        uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - run: mix local.hex --force
      - run: mix deps.get
      - run: mix local.rebar --force
      - run: MIX_ENV=test mix compile --warnings-as-errors
      - run: mix test

  windows:
    name: Test on Windows
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Restore chocolatey
        uses: actions/cache@v2
        with:
          path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey
          key: ${{ runner.os }}-chocolatey-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-chocolatey-
      - name: Install Elixir
        run: |
          cinst erlang --no-progress --version 23.3
          cinst elixir --no-progress
          set MIX_ENV=test
          echo "C:\ProgramData\chocolatey\lib\Elixir\bin;C:\ProgramData\chocolatey\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Build
        run: |
          echo "$PATH"
          mix local.hex --force
          mix deps.get
          mix local.rebar --force
          mix compile --warnings-as-errors
      - name: Test
        run: mix test
